@import "reset.css";
/*字型*/
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary:#AA0601;
    --secondary:#650300;
    --bg-light:#FBF2F2;
}

/*base*/
*,*::before,*::after{
    box-sizing: border-box;
outline: 1px solid;
}
body{
    font-family: "Roboto", "Noto Sans TC",serif;
    font-size: 16px;
    line-height: 1.5;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
.btn{

}
.btn:hover{

}
/*pages*/
.header{
    background: var(--primary);
    color: #ffffff;
    padding: 12px 0;
}
.header img{
    max-width: 80px;
    height: 49px;
}
@media (max-width:576px){
    .header img{
        margin-bottom: 16px;
    }
}
.header-list a{
    padding: 12px 0;
    
}
.header-list a:hover{
    color: var(--secondary);
  }
.header-row{
    display: flex;
    justify-content: space-between;    align-items: center;
    flex-wrap: wrap;
}
.header-col{
    display: flex;
justify-content: space-between;
   

}
.header-list{
    margin-left: 64px;
}
@media (max-width:576px){
  .header-row{
    flex-wrap: wrap;
}  
.header-col{
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
      }
.header-list{
    width: 50%;
    border: 1px solid #ffffff;
    margin-left: 0;
}

}

/*utils*/
.container{
    max-width: 1320px; /* 1296+12+12*/
    margin: 0 auto;
    padding: 0 12px;
}
